name: IaC - Terraform

on:
  push:
    branches: [main]
    paths:
      - "terraform/**"
  pull_request:
    paths:
      - "terraform/**"

permissions:
  contents: read
  id-token: write
  actions: read

jobs:
  terraform:
    name: Terraform Validate, Secure and deploy
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.TOKEN }}
    defaults:
      run:
        working-directory: terraform

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_IAC_ROLE_ARN }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.14.3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Format
        run: terraform fmt -recursive

      - name: Terraform Format Check
        run: terraform fmt -check -recursive

      - name: Terraform Validate
        run: terraform validate

      - name: Run TFLint
        uses: terraform-linters/setup-tflint@v4

      - name: TFLint Scan
        run: |
          tflint --init
          tflint

      - name: Run tfsec
        uses: aquasecurity/tfsec-action@v1.0.3
        with:
          working_directory: terraform

      - name: Terraform Plan
        run: terraform plan 

      - name: unlocking state
        run: terraform force-unlock 5574ad7c-4158-e732-13c9-78dfe66a3c7b

      - name: Terraform Apply
        run: terraform apply -auto-approve
